<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/user/login" method="post">
      <label for="">Email</label>
      <input type="text" required name="email" id="" />
      <label for="">Password</label>
      <input type="password" required name="password" id="" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
